<h1>
Convert <%= @currency_one %> to <%= @currency_two %>
</h1>

<p>
 1 <%= @currency_one %> equals <%= @rate %> <%= @currency_two %>.
</p>

<p>
  Go <a href="/forex/<%= @currency_one %>">back</a>.
</p>
